.ssh1x3h--grid-container {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;

    .ssh1x3h--top-row {
        background-color: #ccc;
    }

    .ssh1x3h--low-row {
        background-color: #eee;
        display: flex;
        flex-direction: row;
        
        .ssh1x3h--low-content{
            border: 1px solid lightgreen;
            flex-grow: 1;
        }

    }
}

/* Movile */
@media only screen and (max-width: 480px) {
    
    .ssh1x3h--grid-container {

        .ssh1x3h--low-row {
            flex-direction: column;

            .ssh1x3h--low-content {
                height: 100%;
            }
        }
    }
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 912px) {}

/* Desktop */
@media only screen and (min-width: 913px) {}