.ssh2x1h--grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;

    .ssh2x1h--top-row {
        position: relative;
        background-color: #ccc;
        display: flex;
        flex-direction: row;
        width: 100%;
        
        .ssh2x1h--top-content{
            border: 1px solid rgb(217, 255, 217);
            flex-grow: 1;
        }

    }

    .ssh2x1h--low-row {
        position: relative;
        background-color: #f3f3e3;
    }
}

/* Movile */
@media only screen and (max-width: 480px) {
    
    .ssh2x1h--grid-container {

        .ssh2x1h--top-row {
            flex-direction: column;
        }
    }
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 912px) {}

/* Desktop */
@media only screen and (min-width: 913px) {}