.ssh2x2h--grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;

    .ssh2x2h--top-row {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        
        .ssh2x2h--top-content{
            border: 1px solid rgb(217, 255, 217);
            flex-grow: 1;
        }

    }

    .ssh2x2h--low-row {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;

        .ssh2x2h--low-content {
            border: 1px solid rgb(217, 255, 217);
            flex-grow: 1;
        }
    }
}

/* Movile */
@media only screen and (max-width: 480px) {
    
    .ssh2x2h--grid-container {

        .ssh2x2h--top-row {
            flex-direction: column;
        }
        
        .ssh2x2h--low-row {
            flex-direction: column;
        }
    }
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 912px) {}

/* Desktop */
@media only screen and (min-width: 913px) {}