.ssvw--grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;

    .ssvw--left-column {
        background-color: #ccc;
    }

    .ssvw--right-column {
        background-color: #eee;
        display: none;
    }
}

/* Movile */
@media only screen and (max-width: 480px) {
    .ssvw--grid-container {

        .ssvw--left-column {
            grid-row: 1;
        }

        .ssvw--right-column {
            grid-row: 2;
        }
    }
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 912px) {
    .ssvw--grid-container {
    
            .ssvw--left-column {
                grid-row: 1;
            }
    
            .ssvw--right-column {
                grid-row: 2;
            }
        }
}

/* Desktop */
@media only screen and (min-width: 913px) {
    .ssvw--grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        .ssvw--right-column {
            display: block;
        }
    }
}