.ssvtrtm--grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    width: 100%;

    .ssvtrtm--left-column {
        background-color: #aeaeae;
        display: flex;
        flex-direction: column;
        height: 100%;

        .ssvtrtm--left-content {
            background-color: #fef1ff;
            height: 100%;
        }
    }

    .ssvtrtm--right-column {
        display: flex;
        flex-direction: column;
        height: 100%;

        .ssvtrtm--right-content {
            background-color: #effcff;
            height: 100%;
        }
    }

}

/* Movile */
@media only screen and (max-width: 480px) {}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 912px) {}

/* Desktop */
@media only screen and (min-width: 913px) {
    .ssvtrtm--grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

/*     .ssvtrtm--left-column {
        order: 2;
    }

    .ssvtrtm--right-column {
        order: 1;
    } */
}