.sstrom--grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;

    .sstrom--left-column {
        background-color: #aeaeae;
        display: flex;
        flex-direction: column;
        height: 100%;
        order: 2;

        .sstrom--left-content {
            background-color: #fdfffb;
            flex-grow: 1;
        }
    }

    .sstrom--right-column {
        background-color: #d2ffbd;
        height: 100%;
        order: 1;

        .sstrom--right-content {
            background-color: #effcff;
            height: 100%;
        }
    }

}

/* Movile */
@media only screen and (max-width: 480px) {}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 912px) {}

/* Desktop */
@media only screen and (min-width: 913px) {
    .sstrom--grid-container {
        grid-template-columns: 1fr 1fr;

        .sstrom--left-column {
            order: 1;
        }
        .sstrom--right-column {
            order: 2;
        }
    }
}