.sshh--grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;

    .sshh--left-column {
        background-color: #ccc;
    }

    .sshh--right-column {
        background-color: #eee;
        display: none;
    }
}

/* Movile */
@media only screen and (max-width: 480px) {}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 912px) {}

/* Desktop */
@media only screen and (min-width: 913px) {
    .sshh--grid-container {
        grid-template-rows: 1fr 1fr;

        .sshh--right-column {
            display: block;
        }
    }
}