.ssvomtr--grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;

    .ssvomtr--left-colum {
        
        .ssvomtr--left-content{
            background-color: #f0ffeb;
            height: 100%;
        }
    }

    .ssvomtr--right-column {
        display: flex;
        flex-direction: column;
        height: 100%;

        .ssvomtr--right-content {
            background-color: #f9f1ff;
            flex-grow: 1;
        }
    }
}

/* Movile */
@media only screen and (max-width: 480px) {}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 912px) {}

/* Desktop */
@media only screen and (min-width: 913px) {
    .ssvomtr--grid-container {
        grid-template-columns: 1fr 1fr;
    }
}