.ssv1x1w--grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;

    .ssv1x1w--left-column {
        background-color: #ccc;
    }

    .ssv1x1w--right-column {
        background-color: #eee;
        display: none;
    }
}

/* Movile */
@media only screen and (max-width: 480px) {
    .ssv1x1w--grid-container {

        .ssv1x1w--left-column {
            grid-row: 1;
        }

        .ssv1x1w--right-column {
            grid-row: 2;
        }
    }
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 912px) {
    .ssv1x1w--grid-container {

        .ssv1x1w--left-column {
            grid-row: 1;
        }

        .ssv1x1w--right-column {
            grid-row: 2;
        }
    }
}

/* Desktop */
@media only screen and (min-width: 913px) {
    .ssv1x1w--grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        .ssv1x1w--right-column {
            display: block;
        }
    }
}